@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
    margin: 0;
    background: #0c0118;
    font-family: "Google Sans", sans-serif;
}

.menu-login {
    background-color: #42047E;
    color: #07F49E;
    padding: 30px;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 18px;
    gap: 15px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.4);
}
h2 {
    font-size: 20px;
}

h1 {
    font-size: 40px;
}


.textfield {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}
.textfield>label {
    margin: 6px;
}

.textfield>input {
    width: 100%;
    border: none;
    border-radius: 20px;
    padding: 15px;
    box-sizing: border-box;
    outline: none;
    background: #32184e;
    color: #00d989;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}
.textfield >input>::placeholder { 
    color: #8f8f8f;
}

.btn {
    padding: 15px;
    width: 100%;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    outline: none;
    background: #07F49E;
    color: #0c0118;
    font-weight: bold;
    font-size: 16px;
    transition: 0.3s;
    box-shadow: 0 0 25px #00d989f6;
}

.btn:hover {
    transform: scale(1.03);
    background: #00d989;
    opacity: 0.9;
}